.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-top: 20px;
  }
  
  .head {
    display: flex;
    justify-content: space-between;
  }
  
  .bottom {
    margin-top: 50px;
    margin-left: 100px;
  }
  
  table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }